body {
  background: linear-gradient(262.22deg, #002E5E 22.04%, #2D5988 69.46%);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.stacked-section {
  position: relative;
}

.bg-image {
  width: 100%;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
}
/* 
.bg-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
} */

.overlay-text {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 999;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* video {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
} */

.video-face {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}

/* Style the modal content */
.modal-content {
  background-color: #fefefe;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Set the width of the modal */
  max-width: 600px; /* Maximum width of the modal */
  text-align: center;
  position: relative; /* Relative positioning for close button */
  border-radius: 20px;
}

.circle-button {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  background-color: transparent; 
  border: 2px solid #ffff; 
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle-button:hover {
  background-color: gray; 
}

.next-button {
  border-radius: 10px;
  background: linear-gradient(262.22deg, #002E5E 22.04%, #2D5988 69.46%);
  color: #ffff;
  border: 2px solid #dedede;
  padding: 15px;
  font-size: 20px;
  width: 70%;
  cursor: pointer;
}

.next-button:hover {
  background: #ffff; 
  color: #2D5988;
  border: 2px solid #2D5988;
}

.bg-ktp-result {
  background: #ffff;
  border-radius: 10px;
}

.bg-welcoming {
  background: #ffff;
  border-radius: 40px 40px 0px 0px;
}

